<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Style Viewer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showSpinner">
  <ion-spinner class="center" name="lines-sharp"></ion-spinner>
</ion-content>

<ion-content class="ion-padding" *ngIf="!showSpinner">
  <ng-container *ngIf="styles">
    <ion-searchbar id="styles" [debounce]="50" (ionInput)="filter($event)"></ion-searchbar>
    <style-card *ngFor="let style of styles" [style]="style" (click)="showDetails(style)"></style-card>
  </ng-container>
</ion-content>



