<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Style Viewer
    </ion-title>
  </ion-toolbar>
</ion-header>

@if (showSpinner) {
  <ion-content>
    <ion-spinner class="center" name="lines-sharp"></ion-spinner>
  </ion-content>
} @else {
  <ion-content class="ion-padding">
    @if (styles) {
      <ion-searchbar [debounce]="50" (ionInput)="filter($event)"></ion-searchbar>
      @for (style of styles; track style) {
        <style-card [style]="style" (click)="showDetails(style)"></style-card>
      }
    }
  </ion-content>
}

