<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-list-header lines="inset">
        <ion-buttons>
          <ion-button (click)="openFermentable()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label class="ion-padding-start">
          <h1>Fermentables</h1>
        </ion-label>
      </ion-list-header>
      @for (fermentable of recipe.fermentables; track fermentable.name) {
        <ion-item [button]="true" (click)="editFermentable(fermentable)">
          <ion-label>
            {{ fermentable.name }}
            <p class="ion-padding-top">
              {{ fermentable.amount | number:'1.0-3' }} kg
              -
              <span
                [class]="checkOveruse(fermentable, recipe)">
              {{ RecipeUtil.getFermentablePercentage(fermentable, recipe) | number:'1.0-1' }} %
            </span>
              - {{ RecipeUtil.getFermentableGPTPercentage(fermentable, recipe) | number:'1.0-1' }}
              GPTs
            </p>
          </ion-label>
          <div class="description ion-hide-xl-down">{{ fermentable.description }} Up to {{ fermentable.maxInBatch }}%.
          </div>
          <ion-buttons slot="end">
            <ion-button (click)="removeFermentable(fermentable)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      }
    </ion-list>
    @if (recipe.fermentables.length === 0) {
      <p class="ion-padding-start">
        No fermentables
      </p>
    }

    <ion-list>
      <ion-list-header lines="inset">
        <ion-buttons>
          <ion-button (click)="openHop()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label class="ion-padding-start">
          <h1>Hops</h1>
        </ion-label>
      </ion-list-header>
      @for (hop of recipe.hops; track hop.name) {
        <ion-item [button]="true" (click)="editHop(hop)">
          <ion-label>
            {{ hop.name }}
            <p class="ion-padding-top">
              {{ hop.amount ? (hop.amount * 1000 | number:'1.0-1') : 0 }} g - {{ hop.use }}
              @if (hop.use === 'Boil' || hop.use === 'Dry Hop') {
                -
                <span
                  [class]="checkOvertime(hop, recipe)">{{ hop.time ? ((hop.time | number:'1.0-1') + (hop.use === 'Dry Hop' ? ' days' : ' minutes')) : '' }}</span>
              }
            </p>
            <p>
              {{ hop.alpha | number:'1.0-1' }} % AA - {{ RecipeUtil.calculatePerHopIbu(hop, recipe) | number:'1.0-1' }}
              IBUs
            </p>
          </ion-label>
          <div class="description ion-hide-xl-down">{{ hop.description }}
          </div>
          <ion-buttons slot="end">
            <ion-button (click)="removeHop(hop)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      }
    </ion-list>
    @if (recipe.hops.length === 0) {
      <p class="ion-padding-start">
        No hops
      </p>
    }
    <ion-list>
      <ion-list-header lines="inset">
        <ion-buttons>
          <ion-button (click)="openYeast()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label class="ion-padding-start">
          <h1>Yeast</h1>
        </ion-label>
      </ion-list-header>
      @for (yeast of recipe.yeasts; track yeast.name) {
        <ion-item [button]="true" (click)="editYeast(yeast)">
          <ion-label>
            {{ yeast.name }}
            <p class="ion-padding-top">{{ yeast.attenuation | number:'1.1-1' }} % Attenuation<br>
              <span [class]="checkOverAbv(yeast, recipe)">{{ recipe.ABV | number:'1.0-1' }} % ABV</span>
            </p>
          </ion-label>
          <div class="description ion-hide-xl-down">{{ yeast.description }}
            Optimal temperature between {{ yeast.minTemp | number:'1.0-1' }} °C and {{ yeast.maxTemp | number:'1.0-1' }}
            °C.
            Alcohol tolerant up to {{ yeast.maxAbv }} %.
          </div>
          <ion-buttons slot="end">
            <ion-button (click)="removeYeast(yeast)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      }
    </ion-list>
    @if (recipe.yeasts.length === 0) {
      <p class="ion-padding-start">
        No yeast
      </p>
    }

    <ion-list>
      <ion-list-header lines="inset">
        <ion-buttons>
          <ion-button (click)="openMisc()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label class="ion-padding-start">
          <h1>Miscs</h1>
        </ion-label>
      </ion-list-header>
      @for (misc of recipe.miscs; track misc.name) {
        <ion-item [button]="true" (click)="editMisc(misc)">
          <ion-label>
            {{ misc.name }}
            <p
              class="ion-padding-top">{{ misc.amount ? (misc.amount * 1000 | number:'1.0-2') : 0 }} {{ misc.amountIsWeight ? 'g' : 'ml' }}
              - {{ misc.type }}</p>
          </ion-label>
          <div class="description ion-hide-xl-down">{{ misc.description }}
          </div>
          <ion-buttons slot="end">
            <ion-button (click)="removeMisc(misc)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      }
    </ion-list>
    @if (recipe.miscs.length === 0) {
      <p class="ion-padding-start">
        No miscs
      </p>
    }
  </ion-card-content>
</ion-card>

<!-- Add Fermentable -->
<ion-modal [isOpen]="addFermentableOpen" (didDismiss)="closeFermentable()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ isEdit ? 'Edit ' + (newFermentable?.name ?? 'Fermentable') : 'Add Fermentable' }}</ion-title>
        <ion-buttons slot="end">
          @if (!isEdit) {
            <ion-button (click)="addFermentable()">
              <ion-label>Add</ion-label>
            </ion-button>
          }
          <ion-button (click)="closeFermentable()">
            <ion-label>{{ isEdit ? 'Close' : 'Cancel' }}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      @if (!isEdit) {
        <select-search
          label="Fermentable"
          [items]="getFermentables()"
          (selectChanged)="chooseFermentable($event)"
          placeholder="Select Fermentable"
        ></select-search>
      } @else if (!hideDescription) {
        <div class="edit-description">
          {{ newFermentable?.description + ' Up to ' + (newFermentable?.maxInBatch || 100) + '%.' }}
        </div>
      }
      <ion-input
        type="number"
        min="0"
        label="Amount"
        label-placement="floating"
        placeholder="kg"
        [value]="newFermentable?.amount"
        [disabled]="!newFermentable" (ionChange)="setFermentableAmount($event)">
      </ion-input>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Add Hop -->
<ion-modal [isOpen]="addHopOpen" (didDismiss)="closeHop()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ isEdit ? 'Edit ' + (newHop?.name ?? 'Hop') : 'Add Hop' }}</ion-title>
        <ion-buttons slot="end">
          @if (!isEdit) {
            <ion-button (click)="addHop()">
              <ion-label>Add</ion-label>
            </ion-button>
          }
          <ion-button (click)="closeHop()">
            <ion-label>{{ isEdit ? 'Close' : 'Cancel' }}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      @if (!isEdit) {
        <select-search
          label="Hop"
          [items]="getHops()"
          (selectChanged)="chooseHop($event)"
          placeholder="Select Hop"
        ></select-search>
      } @else if (!hideDescription) {
        <div class="edit-description">
          {{ newHop?.description }}
        </div>
      }
      <ion-select
        label="Usage"
        label-placement="floating"
        [value]="newHop?.use"
        (ionChange)="setHopUse($event)" [disabled]="!newHop">
        <ion-select-option value="Boil">Boil</ion-select-option>
        <ion-select-option value="Aroma">Flame Out</ion-select-option>
        <ion-select-option value="Dry Hop">Dry Hop</ion-select-option>
        <ion-select-option value="First Wort">First Wort</ion-select-option>
      </ion-select>
      <ion-input
        type="number"
        min="0"
        label="Amount"
        label-placement="floating"
        placeholder="g"
        [disabled]="!newHop"
        [value]="getHopGrams()"
        (ionChange)="setHopAmount($event)">
      </ion-input>
      <ion-input
        type="number"
        min="0"
        label="Alpha Acid"
        label-placement="floating"
        placeholder="%"
        [disabled]="!newHop"
        [value]="newHop?.alpha"
        (ionChange)="setHopAlpha($event)">
      </ion-input>
      @if (newHop?.use === 'Boil' || newHop?.use === 'Dry Hop') {
        <ion-input
          type="number"
          min="0"
          label="Time"
          label-placement="floating"
          [placeholder]="newHop?.use === 'Dry Hop' ? 'days' : 'min'"
          [disabled]="!newHop"
          [value]="newHop?.time"
          (ionChange)="setHopTime($event)">
        </ion-input>
      }
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Add Yeast -->
<ion-modal [isOpen]="addYeastOpen" (didDismiss)="closeYeast()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ isEdit ? 'Edit ' + (newYeast?.name ?? 'Yeast') : 'Add Yeast' }}</ion-title>
        <ion-buttons slot="end">
          @if (!isEdit) {
            <ion-button (click)="addYeast()">
              <ion-label>Add</ion-label>
            </ion-button>
          }
          <ion-button (click)="closeYeast()">
            <ion-label>{{ isEdit ? 'Close' : 'Cancel' }}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      @if (!isEdit) {
        <select-search
          label="Yeast"
          [items]="getYeasts()"
          (selectChanged)="chooseYeast($event)"
          placeholder="Select Yeast"
        ></select-search>
      } @else if (!hideDescription) {
        <div class="edit-description">
          {{ newYeast?.description + '. Optimal temperature between ' + newYeast?.minTemp + ' °C and ' + newYeast?.maxTemp + ' °C. Alcohol tolerant up to ' + newYeast?.maxAbv + ' %.' }}
        </div>
      }
      <ion-input
        type="number"
        min="0"
        label="Attenuation"
        label-placement="floating"
        placeholder="%"
        [disabled]="!newYeast"
        [value]="newYeast?.attenuation"
        (ionChange)="setYeastAttenuation($event)">
      </ion-input>
      <ion-input
        type="number"
        min="0"
        label="Amount"
        label-placement="floating"
        placeholder="packs"
        [disabled]="!newYeast"
        [value]="newYeast?.amount"
        (ionChange)="setYeastAmount($event)">
      </ion-input>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Add Misc -->
<ion-modal [isOpen]="addMiscOpen" (didDismiss)="closeMisc()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ isEdit ? 'Edit ' + (newMisc?.name ?? 'Misc') : 'Add Misc' }}</ion-title>
        <ion-buttons slot="end">
          @if (!isEdit) {
            <ion-button (click)="addMisc()">
              <ion-label>Add</ion-label>
            </ion-button>
          }
          <ion-button (click)="closeMisc()">
            <ion-label>{{ isEdit ? 'Close' : 'Cancel' }}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      @if (!isEdit) {
        <select-search
          label="Misc"
          [items]="getMiscs()"
          (selectChanged)="chooseMisc($event)"
          placeholder="Select Miscellaneous"
        ></select-search>
      } @else if (!hideDescription) {
        <div class="edit-description">
          {{ newMisc?.description }}
        </div>
      }
      <ion-input
        type="number"
        min="0"
        label="Amount"
        label-placement="floating"
        [placeholder]="newMisc?.amountIsWeight ? 'g' : 'ml'"
        [disabled]="!newMisc"
        [value]="getMiscAmount()"
        (ionChange)="setMiscAmount($event)">
      </ion-input>
    </ion-content>
  </ng-template>
</ion-modal>
