<ion-card class="ion-padding" *ngIf="recipe && recipe.mashProfile as profile">
  <ion-card-title class="ion-padding">{{ recipe.mashProfile.name }}</ion-card-title>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let step of profile.mashSteps; let i = index;">
        <ion-label>
          {{ step.name }}
          <p *ngIf="step.type === 'Infusion'">Heat {{ step.infuseAmount | number: '1.0-1'}} L of water
            to {{ strikeTemp() | number: '1.0-1' }} °C. Add the grains and hold for {{ step.stepTime }} minutes
            at {{ step.stepTemp | number: '1.0-1' }} °C.</p>
          <p *ngIf="step.type === 'Temperature'">Heat to {{ step.stepTemp | number: '1.0-1' }} °C<span
            *ngIf="step.rampTime"> over {{ step.rampTime }} minutes</span> and hold for {{ step.stepTime }} minutes.</p>
          <p *ngIf="step.type === 'Decoction'">
            Decoct {{ decoctionVolume(i) | number: '1.0-1' }} L and hold
            at {{ step.stepTemp | number: '1.0-1' }} °C
            for {{ step.stepTime }} minutes.</p>
          <p *ngIf="step.type === 'Lautering'">
            Lauter the wort, then heat the wort to {{ strikeTemp() | number: '1.0-1' }} °C and add the other half of the
            grains.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Lautering
          <p>Lauter the wort<span *ngIf="firstWortHops().length > 0">, then add
            <span *ngFor="let hop of firstWortHops()">
              {{ hop.amount ? (hop.amount * 1000) : 0 }}g of {{ hop.name }},
            </span></span> and bring to a boil.
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Boiling
          <p>Boil for {{ recipe.boilTime | number: '1.0-0' }} minutes.<span *ngFor="let hop of boilHops()"><br>
          With {{ hop.time | number: '1.0-0' }}
            minutes remaining, add {{ hop.amount ? ((hop.amount * 1000) | number: '1.0-0') : 0 }}
            g of {{ hop.name }}.</span>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Flame Out
          <p>Turn off the heat.<span *ngFor="let hop of aromaHops()"><br>
          Add {{ hop.amount ? ((hop.amount * 1000) | number: '1.0-0') : 0 }} g of {{ hop.name }}.</span><br>
            Cool the wort down to {{ recipe.yeasts[0].minTemp | number: '1.0-1' }}
            to {{ recipe.yeasts[0].maxTemp | number: '1.0-1' }} °C and add {{ recipe.yeasts[0].name }} yeast.
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Fermentation
          <p>Ferment in a dark area.<span *ngFor="let hop of dryHops()"><br>
            Add {{ hop.amount ? ((hop.amount * 1000) | number: '1.0-0') : 0 }} g of {{ hop.name }} for {{ hop.time }}
            days.</span><br>
            After 14-21 days, add {{ carbSugar() }}g of Sugar and bottle or keg the beer.
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-button (click)="logMash()">Log</ion-button>
  </ion-card-content>
</ion-card>
