@if (recipe().mashProfile) {
  <ion-card class="ion-padding">
    <ion-card-title class="ion-padding">{{ recipe().mashProfile?.name }}</ion-card-title>
    <ion-card-content>
      <ion-list>
        @for (step of recipe().mashProfile?.mashSteps; track step; let i = $index) {
          <ion-item>
            <ion-label class="ion-text-wrap">
              {{ step.name }}
              @if (step.type === 'Infusion') {
                <p>Heat {{ step.infuseAmount | number: '1.0-1' }} L of water
                  to {{ strikeTemp() | number: '1.0-1' }} °C. Add the grains and hold for {{ step.stepTime }} minutes
                  at {{ step.stepTemp | number: '1.0-1' }} °C.</p>
              }
              @if (step.type === 'Temperature') {
                <p>Heat to {{ step.stepTemp | number: '1.0-1' }} °C
                  @if (step.rampTime) {
                    <span> over {{ step.rampTime }} minutes</span>
                  }
                  and hold for {{ step.stepTime }} minutes.
                </p>
              }
              @if (step.type === 'Decoction') {
                <p>
                  Decoct {{ decoctionVolume(i) | number: '1.0-1' }} L and hold
                  at {{ step.stepTemp | number: '1.0-1' }} °C
                  for {{ step.stepTime }} minutes.</p>
              }
              @if (step.type === 'Lautering') {
                <p>Lauter the wort, then heat the wort to {{ strikeTemp() | number: '1.0-1' }} °C
                  and add the other half of the grains.</p>
              }
            </ion-label>
          </ion-item>
        }
        <ion-item>
          <ion-label class="ion-text-wrap">
            Lautering
            <p>Lauter the wort,
              sparge to a volume of {{ recipe().boilSize | number: '1.0-1' }} L@if (firstWortHops().length > 0) {
                <span>, then add
                  @for (hop of firstWortHops(); track hop) {
                    <span>{{ hop.amount ? (hop.amount * 1000) : 0 }}g of {{ hop.name }},</span>
                  }
              </span>
              }
              and bring to a boil.
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            Boiling
            <p>
              Boil for {{ recipe().boilTime | number: '1.0-0' }} minutes.
              @for (hop of boilHops(); track hop) {
                <span><br>
                  With {{ hop.time | number: '1.0-0' }}
                  minutes remaining, add {{ hop.amount ? ((hop.amount * 1000) | number: '1.0-1') : 0 }}
                  g of {{ hop.name }}.</span>
              }
            </p>
          </ion-label>
        </ion-item>
        @if (recipe().yeasts.length > 0) {
          <ion-item>
            <ion-label class="ion-text-wrap">
              Flame Out
              <p>
                Turn off the heat.
                @for (hop of aromaHops(); track hop) {
                  <span><br>
                  Add {{ hop.amount ? ((hop.amount * 1000) | number: '1.0-1') : 0 }} g of {{ hop.name }}.
                </span>
                }
                <br>
                Cool the wort down to {{ recipe().yeasts[0].minTemp | number: '1.0-1' }}
                to {{ recipe().yeasts[0].maxTemp | number: '1.0-1' }} °C and add {{ recipe().yeasts[0].name }} yeast.
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">
              Fermentation
              <p>
                Ferment in a dark area.
                @for (hop of dryHops(); track hop) {
                  <span><br>
                  Add {{ hop.amount ? ((hop.amount * 1000) | number: '1.0-1') : 0 }} g of {{ hop.name }}
                    for {{ hop.time }}
                    days.
                </span>
                }
                <br>
                After 14-21 days@if (!recipe().forcedCarbonation) {
                <span>, add {{ carbSugar() | number: '1.0-1' }}g of Sugar and bottle or</span>
              } keg the beer.
              </p>
            </ion-label>
          </ion-item>
        } @else {
          <ion-item>
            <ion-label class="ion-text-wrap">
              <p>Add yeast to recipe to show final brewing steps!</p>
            </ion-label>
          </ion-item>
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
} @else {
  <ion-card class="ion-padding">
    <ion-card-title class="ion-padding">No mash profile selected!</ion-card-title>
  </ion-card>
}

