<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button id="impressum">
        <ion-icon slot="icon-only" name="information-circle">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showSpinner">
  <ion-spinner class="center" name="lines-sharp"></ion-spinner>
</ion-content>

<ion-content class="ion-padding" *ngIf="!showSpinner">
  <ion-card class="ion-padding">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="settings.brewer" label-placement="stacked" label="Brewer's Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="settings.batchSize" label-placement="stacked"
                     label="Default Batch Size (L)" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="settings.boilTime" label-placement="stacked"
                     label="Default Boil Time (min)" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="settings.efficiency" label-placement="stacked"
                     label="Default Efficiency (%)" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-checkbox [(ngModel)]="settings.displayCost" label-placement="end" justify="start">Show Cost of Recipes
          </ion-checkbox>
        </ion-item>
      </ion-list>
      <ion-button class="ion-float-end" (click)="saveSettings()">Save</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-padding" *ngIf="isAdmin">
    <div class="ion-text-center">
      <ion-button (click)="init()">Init XML Reader</ion-button>
      <ion-button id="open-delete-alert">Delete Recipes</ion-button>
      <ion-button (click)="deleteDuplicates()">Delete duplicate Recipes</ion-button>
      <ion-button id="open-clear-alert">Clear DB</ion-button>
    </div>
  </ion-card>
</ion-content>

<ion-toast
  [isOpen]="isToastOpen"
  icon="checkmark"
  message="Settings have been saved successfully!"
  [duration]="3000"
  (didDismiss)="closeToast()"
></ion-toast>

<ion-alert *ngIf="isAdmin"
           trigger="open-delete-alert"
           header="Confirm"
           message="Delete all Recipes?"
           [buttons]="deleteButtons"
></ion-alert>

<ion-alert *ngIf="isAdmin"
           trigger="open-clear-alert"
           header="Confirm"
           message="Truncate Database? You'll lose everything!"
           [buttons]="clearButtons"
></ion-alert>

<!-- Informations -->
<ion-modal trigger="impressum">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-img [src]="'/assets/img/pliny_light.png'"></ion-img>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding ion-text-center">
      Version: {{ version }}<br><br><br>
      Pliny the Helper has been developed by Vince Hofer and Bier-Freunde Seeland<br><br><br>
      <a href="https://www.bier-freunde.ch" target="_blank">
        <ion-img src="/assets/img/bfs.png" alt="Bier-Freunde Seeland Logo"></ion-img>
      </a><br><br><br>
      Get in touch: info@bier-freunde.ch
    </ion-content>
  </ng-template>
</ion-modal>


