<ion-input (click)="setModalOpen(true)" [label]="label" label-placement="floating"
           [value]="selectedItem || placeholder" readonly="true" class="pointer">
  <ion-icon class="select-icon" name="caret-down-circle"></ion-icon>
</ion-input>


<ion-modal [isOpen]="isModalOpen" (didDismiss)="setModalOpen(false)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ placeholder }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalOpen(false)">
            <ion-label>Cancel</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar class="ion-no-margin" (ionInput)="handleSearch($event)"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item *ngFor="let item of filteredItems" [button]="true" (click)="select(item.name)">
        <ion-label class="ion-text-wrap">{{ item.name }} <span
          *ngIf="item.additionalInfo">{{ item.additionalInfo }}</span>
          <p
            *ngIf="item.description">{{ item.description }}</p>
        </ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
