<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ingredients Editor
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-segment [value]="activeTab" (ionChange)="tabChanged($event)">
    <ion-segment-button value="fermentables" layout="icon-start">
      <ion-icon src="/assets/icon/malt.svg"></ion-icon>
      <ion-label class="ion-hide-xl-down">Fermentables</ion-label>
    </ion-segment-button>
    <ion-segment-button value="hops" layout="icon-start">
      <ion-icon src="/assets/icon/hops.svg"></ion-icon>
      <ion-label class="ion-hide-xl-down">Hops</ion-label>
    </ion-segment-button>
    <ion-segment-button value="yeasts" layout="icon-start">
      <ion-icon src="/assets/icon/yeast.svg"></ion-icon>
      <ion-label class="ion-hide-xl-down">Yeasts</ion-label>
    </ion-segment-button>
    <ion-segment-button value="miscs" layout="icon-start">
      <ion-icon src="/assets/icon/chemistry.svg"></ion-icon>
      <ion-label class="ion-hide-xl-down">Misc</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container [ngSwitch]="activeTab">
    <ng-container *ngSwitchCase="'fermentables'">
      <fermentables-card *ngFor="let fermentable of fermentables" [fermentable]="fermentable"></fermentables-card>
    </ng-container>
    <ng-container *ngSwitchCase="'hops'">
      <hops-card *ngFor="let hop of hops" [hop]="hop"></hops-card>
    </ng-container>
    <ng-container *ngSwitchCase="'yeasts'">
      <yeasts-card *ngFor="let yeast of yeasts" [yeast]="yeast"></yeasts-card>
    </ng-container>
    <ng-container *ngSwitchCase="'miscs'">
      <miscs-card *ngFor="let misc of miscs" [misc]="misc"></miscs-card>
    </ng-container>
  </ng-container>
</ion-content>



