<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ingredients Editor
    </ion-title>
  </ion-toolbar>
</ion-header>

@if (showSpinner) {
  <ion-content>
    <ion-spinner class="center" name="lines-sharp"></ion-spinner>
  </ion-content>
} @else {
  <ion-content class="ion-padding">
    <ion-segment [value]="activeTab" (ionChange)="tabChanged($event)" id="ingredients">
      <ion-segment-button value="fermentables" layout="icon-start">
        <ion-icon src="/assets/icon/malt.svg"></ion-icon>
        <ion-label class="ion-hide-xl-down">Fermentables</ion-label>
      </ion-segment-button>
      <ion-segment-button value="hops" layout="icon-start">
        <ion-icon src="/assets/icon/hops.svg"></ion-icon>
        <ion-label class="ion-hide-xl-down">Hops</ion-label>
      </ion-segment-button>
      <ion-segment-button value="yeasts" layout="icon-start">
        <ion-icon src="/assets/icon/yeast.svg"></ion-icon>
        <ion-label class="ion-hide-xl-down">Yeasts</ion-label>
      </ion-segment-button>
      <ion-segment-button value="miscs" layout="icon-start">
        <ion-icon src="/assets/icon/chemistry.svg"></ion-icon>
        <ion-label class="ion-hide-xl-down">Misc</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-searchbar [debounce]="50" (ionInput)="filter($event)" class="ion-padding-top"></ion-searchbar>
    @switch (activeTab) {
      @case ('fermentables') {
        @for (fermentable of f_fermentables; track fermentable) {
          <fermentables-card [fermentable]="fermentable"></fermentables-card>
        }
      }
      @case ('hops') {
        @for (hop of f_hops; track hop) {
          <hops-card [hop]="hop"></hops-card>
        }
      }
      @case ('yeasts') {
        @for (yeast of f_yeasts; track yeast) {
          <yeasts-card [yeast]="yeast"></yeasts-card>
        }
      }
      @case ('miscs') {
        @for (misc of f_miscs; track misc) {
          <miscs-card [misc]="misc"></miscs-card>
        }
      }
    }
  </ion-content>
}



