<ion-card class="clickable">
  <ion-card-header>
    <ion-row>
      <ion-col size="small">
        @if (color() <= 40) {
          <ion-img [src]="'assets/img/srm/'+color()+'.png'" class="srm"></ion-img>
        } @else if (color() > 40) {
          <ion-img [src]="'assets/img/srm/41.png'" class="srm"></ion-img>
        }
      </ion-col>
      <ion-col>
        <ion-card-title>{{ name() }}</ion-card-title>
        <ion-card-subtitle>{{ style() }}</ion-card-subtitle>
      </ion-col>
      <ion-col size="small" class="ion-text-end">
        @if (abv() > 0) {
          <span>{{ abv() | number:'1.0-2' }} %<br></span>
        }
        <span>{{ ibu() | number:'1.0-1' }} IBU<br></span>
        <span>{{ batchSize() | number:'1.0-1' }} L</span>
      </ion-col>
    </ion-row>
  </ion-card-header>
</ion-card>
