<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-xl="5">
          <ion-list>
            <ion-item>
              <ion-label>
                <p>Name</p>
                {{ recipe.name }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Style</p>
                {{ recipe.style?.name }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Batch Size</p>
                {{ recipe.batchSize | number:'1.0-2' }} L
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Efficiency</p>
                {{ recipe.efficiency }} %
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Brew Date</p>
                {{ recipe.brewDate | date:'dd / MM / yyyy' }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Brewer</p>
                {{ recipe.brewer }}
              </ion-label>
            </ion-item>
            <ion-item *ngIf="showCost && recipe.cost && recipe.cost > 0">
              <ion-label>
                <p>Recipe Cost</p>
                {{ recipe.cost | number:'1.2-2' }} CHF
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-xl="7">
          <ion-list>
            <ion-item>
              <ion-label>
                <p>OG</p>
                {{ recipe.OG | number:'1.3-3' }}
                <div class="range-bar-container">
                  <div class="range-bar">
                    <div class="range-bar-range" [style]="getOgRangeBar()"></div>
                  </div>
                  <div class="range-bar-marker" [style]="getOgRangeMarker(recipe.OG)"></div>
                </div>
                <p class="inline ion-hide-lg-down">{{ recipe.style?.minOg | number:'1.3-3' }}
                  - {{ recipe.style?.maxOg | number:'1.3-3' }}</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>FG</p>
                {{ recipe.FG | number:'1.3-3' }}
                <div class="range-bar-container">
                  <div class="range-bar">
                    <div class="range-bar-range" [style]="getFgRangeBar()"></div>
                  </div>
                  <div class="range-bar-marker" [style]="getFgRangeMarker(recipe.FG)"></div>
                </div>
                <p class="inline ion-hide-lg-down">{{ recipe.style?.minFg | number:'1.3-3' }}
                  - {{ recipe.style?.maxFg | number:'1.3-3' }}</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>ABV</p>
                {{ recipe.ABV | number:'1.1-1' }} %
                <div class="range-bar-container">
                  <div class="range-bar">
                    <div class="range-bar-range" [style]="getAbvRangeBar()"></div>
                  </div>
                  <div class="range-bar-marker" [style]="getAbvRangeMarker(recipe.ABV)"></div>
                </div>
                <p class="inline ion-hide-lg-down">{{ recipe.style?.minAbv | number:'1.1-1' }}
                  - {{ recipe.style?.maxAbv | number:'1.1-1' }} %</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Bitterness</p>
                {{ recipe.IBU | number:'1.0-1' }} IBUs
                <div class="range-bar-container">
                  <div class="range-bar">
                    <div class="range-bar-range" [style]="getIbuRangeBar()"></div>
                  </div>
                  <div class="range-bar-marker" [style]="getIbuRangeMarker()"></div>
                </div>
                <p class="inline ion-hide-lg-down">{{ recipe.style?.minIbu | number:'1.0-0' }}
                  - {{ recipe.style?.maxIbu | number:'1.0-0' }} IBUs</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Color</p>
                {{ recipe.color }} SRM
                <div class="range-bar-container">
                  <div class="range-bar">
                    <div class="range-bar-range" [style]="getSrmRangeBar()"></div>
                  </div>
                  <div class="range-bar-marker" [style]="getSrmRangeMarker()"></div>
                </div>
                <p class="inline ion-hide-lg-down">{{ recipe.style?.minColor | number:'1.0-0' }}
                  - {{ recipe.style?.maxColor | number:'1.0-0' }} SRM</p>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="recipe.carbonation">
              <ion-label>
                <p>Carbonation</p>
                {{ recipe.carbonation }} L of CO<sub>2</sub>
                <div class="range-bar-container">
                  <div class="range-bar">
                    <div class="range-bar-range" [style]="getCarbRangeBar()"></div>
                  </div>
                  <div class="range-bar-marker" [style]="getCarbRangeMarker()"></div>
                </div>
                <p class="inline ion-hide-lg-down"
                   *ngIf="recipe.style?.minCarb && recipe.style?.maxCarb">{{ recipe.style?.minCarb | number:'1.1-1' }}
                  - {{ recipe.style?.maxCarb | number:'1.1-1' }} L of CO<sub>2</sub></p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-item>
              <ion-label>
                <ion-input inputmode="numeric" label="Measured OG" label-placement="stacked"
                           [(ngModel)]="recipe.measuredOG"
                           (ionBlur)="saveRecipe()"></ion-input>
                <div class="range-bar-container">
                  <div class="range-bar">
                    <div class="range-bar-range" [style]="getOgRangeBar()"></div>
                  </div>
                  <div class="range-bar-marker" [style]="getOgRangeMarker(recipe.measuredOG)"></div>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-input inputmode="numeric" label="Measured FG" label-placement="stacked"
                           [(ngModel)]="recipe.measuredFG" (ionBlur)="saveRecipe()"></ion-input>
                <div class="range-bar-container">
                  <div class="range-bar">
                    <div class="range-bar-range" [style]="getFgRangeBar()"></div>
                  </div>
                  <div class="range-bar-marker" [style]="getFgRangeMarker(recipe.measuredFG)"></div>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-input inputmode="numeric" label="Measured Batch Size (L)" label-placement="stacked"
                           [(ngModel)]="recipe.measuredVol" (ionBlur)="saveRecipe()"></ion-input>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>ABV</p>
                {{ getMeasuredAbv() | number:'1.1-1' }} %
                <div class="range-bar-container">
                  <div class="range-bar">
                    <div class="range-bar-range" [style]="getAbvRangeBar()"></div>
                  </div>
                  <div class="range-bar-marker" [style]="getAbvRangeMarker(getMeasuredAbv())"></div>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Efficiency</p>
                {{ recipe.calculatedEfficiency | number:'1.0-1' }} %
                <div class="range-bar-container">
                  <div class="range-bar">
                    <div class="range-bar-range" style="width: 62.5%; left: 25%;'"></div>
                  </div>
                  <div class="range-bar-marker" [style]="getEfficiencyMarker()"></div>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


