<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Edit Recipe {{ recipe ? '"' + recipe.name + '"' : '' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openEdit()">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
      <ion-button id="open-delete-alert">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
@if (recipe) {
  <ion-content class="ion-padding">
    <ion-segment [value]="activeTab" (ionChange)="tabChanged($event)">
      <ion-segment-button value="ingredients" layout="icon-start">
        <ion-icon name="basket"></ion-icon>
        <ion-label class="ion-hide-xl-down">Ingredients</ion-label>
      </ion-segment-button>
      <ion-segment-button value="details" layout="icon-start">
        <ion-icon name="information"></ion-icon>
        <ion-label class="ion-hide-xl-down">Details</ion-label>
      </ion-segment-button>
      @if (settings?.useWaterChemistry && recipe.waters.length === 1) {
        <ion-segment-button value="water" layout="icon-start">
          <ion-icon name="water"></ion-icon>
          <ion-label class="ion-hide-xl-down">Water Profile</ion-label>
        </ion-segment-button>
      }
      <ion-segment-button value="brewing" layout="icon-start">
        <ion-icon name="hammer"></ion-icon>
        <ion-label class="ion-hide-xl-down">Brewing</ion-label>
      </ion-segment-button>
    </ion-segment>
    <span class="ion-margin-bottom">&nbsp;</span>
    @switch (activeTab) {
      @case ('ingredients') {
        <edit-ingredients-card [recipe]="recipe" [hideDescription]="settings?.hideDescription"></edit-ingredients-card>
      }
      @case ('details') {
        <edit-details-card [recipe]="recipe" [showCost]="settings?.displayCost === true"></edit-details-card>
      }
      @case ('brewing') {
        <brewing-card [recipe]="recipe"></brewing-card>
      }
      @case ('water') {
        <recipe-water-card [recipe]="recipe"></recipe-water-card>
      }
    }
  </ion-content>
}

<ion-alert
  trigger="open-delete-alert"
  header="Confirm"
  [message]="'Delete Recipe \'' + recipe?.name + '\'?'"
  [buttons]="deleteButtons"
></ion-alert>

<ion-modal [isOpen]="isEditOpen" (didDismiss)="closeEdit()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Edit Details</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="saveEdit()">
            <ion-label>Save</ion-label>
          </ion-button>
          <ion-button (click)="closeEdit()">
            <ion-label>Cancel</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-input
        label="Name"
        label-placement="floating"
        [(ngModel)]="editRecipe!.name"
        [required]="true"
      ></ion-input>
      <ion-input
        label="Brew Date"
        label-placement="floating"
        [(ngModel)]="editRecipe!.brewDate"
        type="date"
      ></ion-input>
      <ion-input
        label="Brewer"
        label-placement="floating"
        [(ngModel)]="editRecipe!.brewer"
      ></ion-input>
      <select-search
        label="Style"
        placeholder="Choose Beer Style"
        [items]="getStylesOptions()"
        (selectChanged)="changeStyle($event)"
        [selectedItem]="editRecipe!.style!.name"
      ></select-search>
      <ion-input
        type="number"
        min="0"
        label="Batch Size (L)"
        label-placement="floating"
        [(ngModel)]="editRecipe!.batchSize"
      ></ion-input>
      <ion-input
        type="number"
        min="0"
        label="Boil Time (min)"
        label-placement="floating"
        [(ngModel)]="editRecipe!.boilTime"
      ></ion-input>
      <ion-checkbox labelPlacement="end" [(ngModel)]="editRecipe!.calculateBoilSize">
        Automatically calculate boil size
        @if (editRecipe!.calculateBoilSize) {
          <span class="info">({{ calculateBoilSize() | number:'1.0-2' }} L)</span>
        }
      </ion-checkbox>
      @if (!editRecipe!.calculateBoilSize) {
        <ion-input
          type="number"
          min="0"
          label="Boil Size (L)"
          label-placement="floating"
          [(ngModel)]="editRecipe!.boilSize"
        ></ion-input>
      }
      <ion-input
        type="number"
        min="0"
        label="Efficiency (%)"
        label-placement="floating"
        [(ngModel)]="editRecipe!.efficiency"
      ></ion-input>
      <select-search label="Mash Profile" placeholder="Select Mash Profile"
                     [items]="getProfilesOptions()" (selectChanged)="changeProfile($event)"
                     [selectedItem]="editRecipe!.mashProfile!.name"></select-search>
      <ion-checkbox labelPlacement="end" [(ngModel)]="editRecipe!.forcedCarbonation">Force Carbonation</ion-checkbox>
      <br>
      <ion-input
        type="number"
        min="0"
        label="Carbonation (vol.)"
        label-placement="floating"
        [(ngModel)]="editRecipe!.carbonation"
      ></ion-input>
      @if (settings?.useWaterChemistry) {
        <ion-checkbox labelPlacement="end" [(ngModel)]="showWaterProfile">Use Water Profile</ion-checkbox>
        <br>
        @if (showWaterProfile) {
          <select-search
            [label]="'Water Profile'"
            [selectedItem]="editRecipe?.waters?.[0]?.name"
            [items]="getWaterOptions()"
            (selectChanged)="changeWaterProfile($event)"
          ></select-search>
        }
      }
    </ion-content>
  </ng-template>
</ion-modal>
