<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recipes
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/new-recipe'">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="importRecipes()">
        <ion-icon slot="icon-only" name="folder-open"></ion-icon>
      </ion-button>
      <ion-button (click)="exportRecipes()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="!recipes || recipes.length === 0">
    <div class="ion-text-center">
      <strong>You don't have a recipe yet!</strong>
      <p><a [routerLink]="'/new-recipe'">Click here to create a new recipe!</a></p>
    </div>
  </ng-container>
  <ng-container *ngIf="recipes && recipes.length > 0">
    <recipe-card *ngFor="let recipe of recipes" [name]="recipe.name" [style]="recipe.style?.name || 'Other'"
                 [color]="recipe.color" [abv]="recipe.ABV" [ibu]="recipe.IBU"
                 [batchSize]="recipe.batchSize" (click)="showEdit(recipe)"></recipe-card>
  </ng-container>
</ion-content>


