<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recipes
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/new-recipe'">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="importRecipes()">
        <ion-icon slot="icon-only" name="folder-open"></ion-icon>
      </ion-button>
      <ion-button (click)="openExport()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showSpinner">
  <ion-spinner class="center" name="lines-sharp"></ion-spinner>
</ion-content>

<ion-content class="ion-padding" *ngIf="!showSpinner">
  <ng-container *ngIf="!recipes || recipes.length === 0">
    <div class="ion-text-center">
      <strong>You don't have a recipe yet!</strong>
      <p><a [routerLink]="'/new-recipe'">Click here to create a new recipe!</a></p>
    </div>
  </ng-container>
  <ng-container *ngIf="recipes && recipes.length > 0">
    <recipe-card *ngFor="let recipe of recipes" [name]="recipe.name" [style]="recipe.style?.name || 'Other'"
                 [color]="recipe.color" [abv]="recipe.ABV" [ibu]="recipe.IBU"
                 [batchSize]="recipe.batchSize" (click)="showEdit(recipe)"></recipe-card>
  </ng-container>
</ion-content>

<ion-modal [isOpen]="isExportOpen" (didDismiss)="closeExport()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Export Recipes</ion-title>
        <ion-button class="ion-padding-end" slot="end" (click)="exportRecipes(selectedRecipes)">Export</ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-checkbox *ngIf="recipes && recipes.length > 0" label-placement="end"
                    (ionChange)="toggleAllCheckboxes($event)">Select All
      </ion-checkbox>
      <br>
      <p *ngFor="let recipe of recipes">
        <ion-checkbox label-placement="end" [checked]="allSelected"
                      (ionChange)="toggleCheckbox($event, recipe)">{{ recipe.name }}</ion-checkbox>
        <br>
      </p>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-toast
  [isOpen]="isToastOpen"
  icon="checkmark"
  message="Your recipes have been exported to your documents folder!"
  [duration]="3000"
  (didDismiss)="closeToast()"
></ion-toast>

