/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import '@ionic/angular/css/palettes/dark.always.css';

recipe-card, style-card {
  max-width: 1440px;
  display: block;
  margin: auto;
}

ion-card {
  max-width: 1440px;
  margin: auto auto 16px;
  border-radius: 8px;
}

ion-searchbar {
  max-width: 1440px;
  margin: 8px auto;
}

ion-checkbox {
  margin-top: 4px;
  margin-bottom: 4px;
}

.vertical-middle {
  vertical-align: middle;
}

select-search, select-search ion-input, select-search ion-label, select-search input {
  cursor: pointer !important;
}

.select-icon {
  position: absolute;
  right: 7px;
  top: 50%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
}
